@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(225, 100%, 94%);
}

.container {
    width: 450px;
    max-width: 90%;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside {
    padding: 3rem;
}

.text-container {
    text-align: center;
}

.text-container > * {
    margin-bottom: 1.5rem;
}

.text-container h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.text-container p {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.price-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.price-container .price-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price-left .plan {
    line-height: 1.8rem;
}

.price-left .plan h3:first-child {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.price-left .plan h3:last-child {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.price-container .price-right a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.price-right:hover a {
    text-decoration: none;
    opacity: 0.6;
}

.payment-btn {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 0.5rem;
    font-weight: 900;
    box-shadow: 0 10px 15px hsla(245, 75%, 52%, 0.2);
    cursor: pointer;
    transition: opacity 0.3s;
}

.payment-btn:hover {
    opacity: 0.6;
}

.confirm {
    text-align: center;
}

.confirm a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    transition: color 0.3s;
}

.confirm:hover a {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 430px) {
    .price-left {
        display: flex;
        flex-direction: column;
    }

    .price-container {
        flex-direction: column;
        gap: 2rem;
    }
}
